PORT=3000
PINATAJWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI4ODA2YTI3Mi0wY2MwLTQzOTItODNlMy01NGVhZDkyZGNmOTgiLCJlbWFpbCI6Imd1aWRvLnNhbGF6YXIudmFyZ2FzN0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJGUkExIn0seyJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MSwiaWQiOiJOWUMxIn1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlLCJzdGF0dXMiOiJBQ1RJVkUifSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiMWE3OWY4ZDQ5MzZiNjZlYjk5NDEiLCJzY29wZWRLZXlTZWNyZXQiOiIzODU5OGVhYzdiOWI4MzhmN2VkYTY5YzM4NDc3MDEwMzI0MzBhOWZmMGE5YmU5Yjc3MjIwYTFmNWRhMTkzMDI3IiwiZXhwIjoxNzU0ODA1MDc4fQ.-23i3oMQnPxQJjg_dG1SDEis6k9Cqe3KvcI8ryEr3gI
